<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Azure-NotificationHub" version="1.0.3" targetFramework="net461" />
  <package id="bootstrap" version="4.3.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="jQuery" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR" version="2.4.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.4.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.4.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net461" />
  <package id="Microsoft.Azure.NotificationHubs" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.1.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Memory" version="2.1.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.4" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.4" targetFramework="net461" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.7.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="popper.js" version="1.14.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.1" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net461" />
  <package id="WindowsAzure.ServiceBus" version="2.5.4" targetFramework="net461" />
</packages>